.dashboard-container{
    background-color: whitesmoke;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.a-container  {
    width:55%;
    
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1%;

}


.cityTitle-container{
    width: 80%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    font-weight: bold ;
}
@keyframes example {
    from {color: black;}
    to {color: skyblue;}
  }
.cityTitle{
    font-size: 300%;
    
  color: black;
  animation-name: example ;
  animation-iteration-count: 3;
  animation-duration: 4s;
}

.today-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient( rgba(9,51,121,1) 35%, rgba(0,212,255,1) 100%);
    border: solid 3px grey;
    height: 10%;
    width: 30%;
    margin: 1%;
    padding: 1%;
    color: white;
}

.todayIconDegrees-container{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.degreeText{
    text-align: center;
    width: 80%;
    font-size: 87px;
    font-weight: bold;
}

.DayIcon{
    width: 40%;
    height: 40%;
}

.weatherText-container{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    font-size:87%;
    height: 30%;
}
.weatherText{
    font-size:87px;
}

.weekDay-container{
    box-sizing: border-box;
    display:flex;
   
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: steelblue;
    height: 70%;
    width: 100%;
    margin: 2%;
    padding: 1%;
}

.weekDay{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient( rgba(9,51,121,1) 35%, rgba(0,212,255,1) 100%);;
    color:white;
     border-radius: 10%;
    height: 90%;
    width: 10%;
    margin: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;
}

.days-container{
    width: 80%;
    border-color: steelblue;

}



.weekDay-text{
    
    justify-content: center;
    text-align: center;
    color: white;
    font-weight:bold ;
    
    width: 100%;
    height: 50%;
    background: rgba(9,51,121,1);
}


.top-container{
    width: 90%;
    display:flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

.heartIcon{
color: crimson;
}

@media screen and (max-width: 992px) {
    .weatherText {
       
      font-size:87%;
    }
    .degreeText{
        font-size: 70%;
        font-weight: bold;
    }

    .weekDay-container {
        overflow: hidden;
        content: "";
        display: block;
        clear: both;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: steelblue;
        width: 100%;
        margin: 2%;
        padding: 1%;
    }
 

    .weekday-weatherText{
        font-size: 93%;
    }
  }
  
  @media screen and (max-width: 600px) {

    .weekDay-container {
        overflow: hidden;
        content: "";
        display: block;
        clear: both;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: steelblue;
        width: 100%;
        margin: 2%;
        padding: 1%;
    }
    
    .weatherText {
      font-size:87%
    }
    .degreeText{
        font-size: 80%;
        font-weight: bold;
    }

    .weekDay-container {
        height: 70%;
    }
  }