nav {
    width: 100%;
    height: 50px;
    background-color: lightblue;
}

.title-in-header{
    display: flex;
    align-items: center;
    width: 80%;
    order:0;
    font-weight: bold;
}

.btns-in-header{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    order:1 ;
    width:24%;
}

nav a {
    width: 50%;
    height: 50px;
    color: #000;

    text-decoration: none;
    font-weight: bold;
}

ul {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

ul li {
    display: inline;
}

nav a.current-page {
    font-weight: normal;
}

a:active{
    background-color: rgba(9,51,121,1);
    color: white;
    height: 50px;

}


@media screen and (max-width: 992px) {
    
    ul {
        height: 100%;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .title-in-header{
        display: flex;
        align-items: center;
        width: 60%;
        order:0;
        font-weight: bold;
    }
    .btns-in-header{
        display: flex;
        height: 100%;
       
        align-items: center;
        order:1 ;
        width:40%;
        margin-right: 11%;
    }
 
    nav a {
        padding: 11%;
        margin:8%;
         display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    }
  }
  
  @media screen and (max-width: 600px) {
  
    nav a {
        padding: 8%;
        margin:8%;
         display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    
    }

    .btns-in-header{
        display: flex;
        height: 100%;
        
        align-items: center;
        order:1 ;
        width:40%;
        margin-right: 11%;
    }
  }